.contenedor-res{
    margin: 5% 5%;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
}
.card-meal{
    margin: 1% 0;
    padding: 1rem;
    box-sizing: border-box;
    width: 33%;
    flex-shrink: 0;
    
    display: flex;
    flex-direction: column;
    align-items: center;

}
.img-modal{
    margin: 1% 15%;
}
.info-modal{
    color: var(--gris2);
    text-align: center;
}
