header{
    background-color: var(--gris2);
}

header div{
    
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h1{
    color: var(--blanco);
}